.Index {
      background: url("../../public/images/meditate-bg.jpg");
      background-size: cover;
      background-position: center;
      display: grid;
      align-items: center;
      justify-items: center;
}

